{% extends "user/userpage.html" %}

{% block userPageIncludes %}
	<link rel="stylesheet" href="static/css/user_dashboard_layout.css">
	<script src="static/js/userDashboard.js"></script>
	
	<!--Additional block for child static resources -->
	{% block  userDashBoardIncludes %}{% endblock %}
	
{% endblock %}

{% block userPageContent %}
<div class="col-md-4 table-div">
	<div id="scrollDiv">
		<table class="table table-hover table-striped">
			<thead>
				<tr class="table-primary text-gray-dark" style="font-size: 1.5em; color: #004d99;">
					<th>Subject</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody id="notifBody"></tbody>
		</table>
	</div>
	<button class="btn rounded-0 btn-block" id="refreshNotif">Refresh</button>
</div>

<div class="col-md-6" id="notif-div">
	<h1 id="notifSub">SUBJECT</h1>
	<h4 id="notifDate">--/--/----</h4>

	<p id="notifContent"></p>
</div>
{% endblock %}
