{% extends "user/userpage.html" %}

{% block userPageIncludes %}
	<link rel="stylesheet" href="static/css/user_profile_layout.css">
	

	<!--Additional block for child static resources -->
	{% block  userProfileIncludes %}{% endblock %}
	
{% endblock %}

{% block userPageContent %}
<div class="col-md-10">
	<div class="container-fluid row" style="margin: auto;">
		<div class="col-md-4 align-content-center">
			<div class="imageContainer">
				<img src="#" id="profileImg" alt="Profile Image" />
			</div>
		</div>
		<div class="col-md-8">
			<h1 id="FlatOwnerName">Vineet Rao</h1>
			<h2 id="FlatDetails">A-201 Sunshine Heights</h2>
		</div>
	</div>
	<div class="container-fluid row" style="margin: auto;">
		<div class="col-md-7">
			<table class="table table-hover table-bordered">
				<thead>
					<tr class="table-primary">
						<th>Resident Name</th>
						<th>Contact Number</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Vineet Rao</td>
						<td>1234</td>
					</tr>
					<tr>
						<td>Ameya Daddikar</td>
						<td>3453</td>
					</tr>
					<tr>
						<td>Aman Framewala</td>
						<td>456758</td>
					</tr>
					<tr>
						<td>Yash Dani</td>
						<td>454676</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-5 jumbotron">
			<button class="btn btn-danger btn-block">Amount Due : Rs. 1000</button>
			<button class="btn btn-warning btn-block" data-toggle="modal" data-target="#editDetailsModal" >Edit Details</button>
			<button class="btn btn-primary btn-block">Documents</button>
		</div>
	</div>
</div>

<div class="modal fade" id="editDetailsModal">
	<div class="modal-dialog">
		<form name="editDetails" action="editDetails" method="post" onsubmit="function(){return false;}">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Modal Heading</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="NameRes1">Resident Name 1</label><br/>
						<input type="text" name="NameRes1" id="NameRes1" />
					</div>
					<div class="form-group">
						<label for="NumRes1">Contact Details</label><br/>
						<input type="text" name="NumRes1" id="NumRes1" />
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
