.title-div {
	background-color: white;
	min-height: 300px;
	text-align: center;
}

.title-text{
	margin: auto;
	margin-top: 1em;
	color: #3366cc;
	font-size: 290%;
	text-shadow: #ebebe0 0px 0.1em;
}

.title-sub-text {
	font-size: 190%;
	color: #66b3ff;
	margin-top: 1em;
}

.title-background{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

#center-paragraph {
	color: #cc66ff;
	text-align: center;
	margin-top: 2.1em;
	font-size: 2em;
	min-height: 3em;
}

.formDiv {
	background-color:#666699;
	border-radius:0.5em;
	padding:0px 1.3em 1.3em 1.3em;
	max-width:750px;
	margin-bottom: 30px;
}

#loginButton, #signupButton {
	background-color:#7575a3;
	color:white;
	padding: 1em 1.5em 1em 1.5em;
	margin:0em 0px 0px 0px;
	border:none;
	border-left: 2px solid #f0f0f5;
	border-right: 2px solid #f0f0f5;
}

#loginDiv, #signupDiv{
	min-width:40%;
	height:40%;
	border-style:solid;
	border-color:#f0f0f5;
	border-width:6px;
	padding:1.5em;
	background-color:#ac99e6;
	margin:auto;
	display:none;

}

#loginButton:hover, #signupButton:hover, #loginButton:hover, #signupButton:active {
	background-color: #52527a;
}

.formHeading {
	color:white;
	font-family:inherit;
	text-shadow: 2px 2px #6946d2;
	font-size: 350%;
	text-align:center;
}

#loginDiv label {
	color:#3d3d5c;
}

.signupLink{
	overflow:hidden;
	margin:auto;
}
