.imageContainer {
	margin: 5vh auto;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: #e0e0d1;
	overflow: hidden;
	align-self: center;
	padding: 50px;
}
.imageContainer div {
	display: none;
	z-index: 1;
}
.imageContainer:hover, .imageContainer:hover div{
	opacity: 0.7;
	display: block;
}

#profileImg {
	z-index: 1;
	width: 5vw;
	overflow: hidden;
}

#FlatOwnerName {
	margin-top: 5vh;
	font-size: 4em;
	color: #0052cc;
}

#FlatDetails {
	font-size: 2em;
}