{% extends "base.html" %}

{% block headIncludes %}
	<link rel="stylesheet" href="static/css/adminpage_layout.css">
	{% block adminPageIncludes %}{% endblock %}
	
{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class=" container-fluid society-details-div">
		<h1>{{ session['societyName'] }}</h1>
		<h2>
			{{ address }}
		</h2>
		<div style="overflow-x: auto;">
			<div class="btn-group">
				<button type="button" class="btn btn-dark">Residents &nbsp;<span class="badge badge-secondary">{{ counter['residents'] }}</span></button>
				<button type="button" class="btn btn-dark">Flats     &nbsp;<span class="badge badge-secondary">{{ counter['flats'] }}</span></button>
				<button type="button" class="btn btn-dark">Wings     &nbsp;<span class="badge badge-secondary">{{ counter['wings'] }}</span></button>
				<button type="button" class="btn btn-dark">Admins    &nbsp;<span class="badge badge-secondary">{{ counter['admins'] }}</span></button>
			</div>
		</div> 
	</div>

</div>

{% endblock %}
