{% extends "base.html" %}

{% block headIncludes %}
	
	{% block adminPageIncludes %}{% endblock %}
	
{% endblock %}

{% block content %}
<div class="container-fluid">
	<h1>\{\{societyName}}</h1>
	<div class="container row">
		<div class="col-md-8">
			<h2>Issues List</h2>
			<table class="table">
				<thead>
					<tr>
						<th>ISSUE</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">

		</div>
	</div>
				<h2>Resident List</h2>
			<table class="table">
				
			</table>

</div>
{% endblock %}
