<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% if 'ownerName' in session %}
				{{ session['ownerName'] }} - 
			{% endif %}
			Society Hub
		</title>
		
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="static/assets/images/favicon.png" type="image/png"/>
		<link rel="shortcut icon" href="static/assets/images/favicon.png" type="image/png"/>

		<!-- Local compiled Bootstrap styling library-->
		<link rel="stylesheet" href="static/css/lib/bootstrap.css" />

		<!-- Custom CSS -->
		<link rel="stylesheet" href="static/css/base_layout.css">

		<!-- Local compiled  JQeury library-->
		<script type="text/javascript" src="static/js/lib/jquery.js"></script>

		<!-- Local compiled Bootstrap javascript library-->
		<script type="text/javascript" src="static/js/lib/bootstrap.js"></script>

		<!-- Local compiled CharJS library-->
		<script type="text/javascript" src="static/js/lib/Chart.bundle.js"></script>

		{% block headIncludes %}{% endblock %}
		
		<script type="text/javascript">
			$(document).ready(()=>{
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>

		{% with errorMessages = get_flashed_messages() %}
		{% if errorMessages %}
		<script type="text/javascript">
			$(window).on("load",function(){
				$('#loginError').modal('show');
			});
		</script>
		{% endif %}
		{% endwith %}
	</head>

	<body>
		<!-- HEADER -->
		<header class="row">
			<div class="col-md-6">
				<h1>
					<a id="logo" href="/" data-toggle="tooltip" title="Go to Society Hub homepage">Society Hub</a>
				</h1>
			</div>

			<!-- IF THE USER ARGUMENT IS P:ASSED< A USER NAME AND LOGO WILL APPEAR-->
			{% if 'ownerName' in session %}
			<div class="col-md-5">
				<a class="btn btn-light float-right" style="margin-bottom: 10px;" href="{{ session['mainPage'] }}" id="userIcon">Welcome {{ session['ownerName'] }}</a>
			</div>
			<div class="col-md-1">
				<a class="btn btn-dark float-right" href="/logout">Logout</a>
			</div>
			{% endif %}
		</header>

		{% block content %}{% endblock %}

		<!-- FOOTER -->
		<footer class="row">
			<div class="col-sm-12">
				<ul class="footer-list">
					<li><a href="#ContactUs">Contact us</a></li>
					<li><a href="#ToC">Terms Of Service</a></li>
				</ul>
			</div>
		</footer>

{% with errorMessages = get_flashed_messages() %}
{% if errorMessages %}
<div class="modal fade" id="loginError" role="dialog">
	<div class="modal-dialog">
	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Error</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				{% for error in errorMessages%}
				<p style="text-align: center;">{{ error }}</p>
				{% endfor %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endwith %}

	</body>
</html>
