<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% if title %}
				{{ title }} - 
			{% endif %}
			Community Hub
		</title>
		
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="static/assets/images/favicon.png" type="image/png"/>
		<link rel="shortcut icon" href="static/assets/images/favicon.png" type="image/png"/>

		<!-- Local compiled Bootstrap styling library-->
		<link rel="stylesheet" href="static/css/lib/bootstrap.css" />

		<!-- Custom CSS -->
		<link rel="stylesheet" href="static/css/base_layout.css">

		<!-- Local compiled  JQeury library-->
		<script type="text/javascript" src="static/js/lib/jquery.js"></script>

		<!-- Local compiled Bootstrap javascript library-->
		<script type="text/javascript" src="static/js/lib/bootstrap.js"></script>

		<!-- Local compiled CharJS library-->
		<script type="text/javascript" src="static/js/lib/Chart.bundle.js"></script>

		{% block headIncludes %}{% endblock %}
		
		<script type="text/javascript">
			$(document).ready(()=>{
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</head>

	<body>
		<!-- HEADER -->
		<header class="row">
			<div class="col-md-10">
				<h1>
					<a id="logo" href="/" data-toggle="tooltip" title="Go to Community Hub homepage">Community Hub</a>
				</h1>
			</div>

			<!-- IF THE USER ARGUMENT IS P:ASSED< A USER NAME AND LOGO WILL APPEAR-->
			{% if user %}
			<div class="col-md-2" id="userIconDiv">
				<h3 style="text-align: right;">
					<a style="color: inherit;" href="/dashboard" id="userIcon">Welcome {{ user.name }}</a>
				</h3>
			</div>
			{% endif %}
		</header>

		{% block content %}{% endblock %}

		<!-- FOOTER -->
		<footer class="row">
			<div class="col-sm-12">
				<ul class="footer-list">
					<li><a href="#ContactUs">Contact us</a></li>
					<li><a href="#ToC">Terms Of Service</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
